#root{
    height:966px;
    align-items: flex-start;
}
.create{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

#signup-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;


}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2B2F33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}