
.login-main {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

/* 750px보다 좁은 화면에 대한 스타일 */
@media screen and (max-width: 750px) {
  .login-main {
    flex-direction: column;
    align-items: center;
  }
}



.Logoclass {
  margin-right: 0px; /* 로고를 오른쪽에 정렬 */
  margin-bottom: 20px;
}

.logininput {

  max-width: 400px; /* 로그인 입력창의 최대 너비 설정 */
}

.loginForm1 {
  margin-bottom: 20px;
}

.inputtext {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #2B2F33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

