spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://43.203.30.193:3306/e6eo
    username: root
    password: 76435855

  data:
    mongodb:
      uri: mongodb://root:76435855@43.203.30.193:27017/e6eo?authSource=admin
  #      host: 43.203.30.193e6eo
  #      port: 27017
  #      username: root
  #      password: 76435855
  #      authentication-database: admin
  #      database: e6eo
  #      auto-index-creation: true



  elasticsearch:
    uris: https://web-elasticsearch-17xco2nlsjrhma1.sel5.cloudtype.app/

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 463906750748-9buq9vk60mfu2qctpqi3cbidlnpqsrb2.apps.googleusercontent.com
#            client-secret: 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
#            redirect-uri: http://localhost:8080/login/oauth2/code/google
#            scope:
#              - email
#              - profile
#

---

google:
  auth: https://accounts.google.com/o/oauth2/v2/auth
  redirect: http://localhost:8080/google/check
  client:
    id: 463906750748-9buq9vk60mfu2qctpqi3cbidlnpqsrb2.apps.googleusercontent.com
    secret: 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
  scope:
    https://www.googleapis.com/auth/calendar,
    https://www.googleapis.com/auth/userinfo.email,
    https://www.googleapis.com/auth/userinfo.profile,
    https://www.googleapis.com/auth/tasks
  key: AIzaSyCJ5FEADdIsIcgjx7foyIqvi05XYAN_2xw