<div className="login-page">
    <div className="main-logo">
        <img src={ logo } className="App-logo" alt="logo" />
    </div>
    <div className="main-login">
        <div className="login">
            <form className="login-form">
                <input type="text" className="id" /><p />
                <input type="password" className="pw" />
                <button>로그인</button>
            </form>
        </div>
        <div>
            <hr />
        </div>
        <div>
            <button>구글 로그인</button>
        </div>
    </div>
</div>