@font-face {
    font-family: "basic-font";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
}


::-webkit-scrollbar {
    display: none;
}

body {
    /*폰트 설정 지정*/
    font-family: basic-font, serif;
    font-size: 14pt;
    scrollbar-width: none;
    --bold-weight: 600;
    --h1-size: 1.5rem;
    --h2-size: 1.4rem;
    --h3-size: 1.3rem;
    --h4-size: 1.2rem;
    --h5-size: 1.1rem;
    --h6-size: 1rem;
    --h1-weight: 600;
    --h2-weight: 600;
    --h3-weight: 500;
    --h4-weight: 500;
    --h5-weight: 500;
    --h6-weight: 400;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: small-caps;
    --h6-variant: small-caps;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;
}

body {
    /*기본 색상 규정*/
    --color-red-rgb: 255, 85, 85;
    --color-orange-rgb: 255, 184, 108;
    --color-yellow-rgb: 241, 250, 140;
    --color-green-rgb: 80, 250, 123;
    --color-cyan-rgb: 139, 233, 253;
    --color-blue-rgb: 98, 114, 164;
    --color-purple-rgb: 189, 147, 249;
    --color-pink-rgb: 255, 121, 198;
    --color-red: #ff5555;
    --color-orange: #ffb86c;
    --color-yellow: #f1fa8c;
    --color-green: #50fa7b;
    --color-cyan: #8be9fd;
    --color-blue: #6272a4;
    --color-purple: #bd93f9;
    --color-pink: #ff79c6;
    /*커스텀 색상*/
    --background-primary: rgb(255, 248, 237);
    --background-primary-sub: rgb(204, 178, 137);
    --background-accent: rgb(153, 122, 72);
    --color-h: 208;
    --color-s: 38%;
    --color-l: 75%;
    --color-primary: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-heavy: hsl(var(--color-h), calc(var(--color-s) + 20%), calc(var(--color-l) - 20%));
    --text-color-primary: black;
}

body {
    /*커스텀 색상 규정*/
}

/*테스트용 버튼*/
#googletest {
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: #00ae68;
}

#root {
    background-color: #E8F9FF;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

/* 버튼 디자인 */
button, .btnFloat {
    background: hsl(var(--color-h), var(--color-s), var(--color-l));
    border: 0.5px solid hsla(var(--color-h), var(--color-s), calc(var(--color-l) - 20%), 0.3);
    border-radius: 5px;
    transition: all 0.2s;
    margin: 0.1rem;
    color: var(--text-color-primary);
    font-family: basic-font, serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

button:hover, .btnFloat:hover {
    border: 0.5px solid hsla(var(--color-h), var(--color-s), calc(var(--color-l) - 20%), 0.3);
    border-radius: 5px;
    transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header에 들어있는 로고*/
.logo {
    height: 60px;
    width: 60px;

}

.Main {
    width: 100vw;
}

.Frame {
    height: 100%;
}

.header {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    background-color: wheat;
    position: relative;
    padding: 4px;

    .calendarDate {
        display: flex;

        .currentTitle {
            width: 50%;
        }
    }

    .toggleSwitch {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }


    [type="checkbox"] {
        appearance: none;
        position: relative;
        border: max(2px, 0.1em) solid gray;
        border-radius: 1.25em;
        width: 2.25em;
        height: 1.25em;
    }

    [type="checkbox"]::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        transform: scale(0.8);
        background-color: gray;
        transition: left 250ms linear;
    }

    [type="checkbox"]:checked {
        background-color: tomato;
        border-color: tomato;
    }

    [type="checkbox"]:checked::before {
        background-color: white;
        left: 1em;
    }

    [type="checkbox"]:disabled {
        border-color: lightgray;
        opacity: 0.7;
        cursor: not-allowed;
    }

    [type="checkbox"]:disabled:before {
        background-color: lightgray;
    }

    [type="checkbox"]:disabled + span {
        opacity: 0.7;
        cursor: not-allowed;
    }

    [type="checkbox"]:focus-visible {
        outline-offset: max(2px, 0.1em);
        outline: max(2px, 0.1em) solid tomato;
    }

    [type="checkbox"]:enabled:hover {
        box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    }
}

/* <leftbar/> + <outlet/> */
.leftOUT {
    display: flex;
    height: 90%;

    .leftbar {
        /* 왼쪽에 고정 */
        position: relative;

        /* 너비 설정 */
        width: 30vw;
        max-width: 400px;

        /* 높이 설정 */
        height: 100%;

        /* 배경색 설정 */
        background-color: #f7f7f7;

        /* 패딩 설정 */
        padding: 1rem 0.5rem;

        /* 섀도 설정 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .userbar {
            background-color: var(--background-primary-sub);
            border-radius: 10px;
            height: 2rem;

            .userProfile {
                display: flex;
                width: 100%;
                height: 2rem;
                justify-content: space-between;
                align-items: center;

                .nickName {
                    padding: 0 0.5em;
                }

                .userButton {
                    padding: 0 0.5em;
                    width: 2em;
                    height: 100%;
                }
            }


            .userMenu {
                --userBar-height: 3.3rem;
                position: relative;
                bottom: calc(2rem + var(--userBar-height));
                height: var(--userBar-height);
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: clip;
                transition: all 0.2s;

                .btnFloat {
                    display: inline-block;
                    width: 99%;
                    text-decoration: none;
                    flex: 1 1 auto;
                }
            }
        }
    }
}
.fc .fc-listDay-view {

        width: 350px;
        height: 400px;

    }

 .fc-direction-ltr{
    height: 450px;
}

.center {
    position: relative;
    width: 100%;

}
/* 검색 페이지*/
.searchp {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.search {
    display: flex;
    height: 40px;
    width: 100%;
    border: 1px solid #61dafb;
    border-radius: 10px;
    background: #ffffff;
    justify-content: space-around;
    align-items: center;

    input {
        font-size: 16px;
        width: 90%;
        padding: 10px;
        border: 0px;
        outline: none;
        float: left;
        background: transparent;
    }

    button {
        width: 50px;
        height: 70%;
        border: 0px;
        border-radius: 5px;
        background: #61dafb;
        outline: none;
        float: right;
        color: #ffffff;
        margin: 0.2em;

    }
}

/*.divTable{*/
/*    display: table;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*}*/
/*.divTableRow {*/
/*    display: table-row;*/
/*}*/
/*.divTableHeading {*/
/*    background-color: #EEE;*/
/*    display: table-header-group;*/
/*}*/
/*.divTableCell, .divTableHead {*/
/*    border: 1px solid #999999;*/
/*    display: table-cell;*/
/*    padding: 3px 10px;*/
/*}*/
/*.divTableHeading {*/
/*    background-color: #EEE;*/
/*    display: table-header-group;*/
/*    font-weight: bold;*/
/*}*/
/*.divTableFoot {*/
/*    background-color: #EEE;*/
/*    display: table-footer-group;*/
/*    font-weight: bold;*/
/*}*/
/*.divTableBody {*/
/*    display: table-row-group;*/
/*}*/
.fc .fc-view-harness-active {
    height: 100vh;
    width: 75vw;
}

.container {
    width: 100vw;
}

.loginall {

    .login-main {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
    }

    .logininput {
        width: 400px;
    }

    .loginForm1 {
        display: flex;
        flex-direction: column;
    }


    button:hover {
        background-color: black;
    }

    input::placeholder {
        color: gray;
    }

    /*input{*/
    /*  border: black;*/
    /*}*/

    .login-main {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
    }


    .Logoclass {
        margin-right: 0px; /* 로고를 오른쪽에 정렬 */
        margin-bottom: 20px;
    }

    .logininput {

        max-width: 400px; /* 로그인 입력창의 최대 너비 설정 */
    }

    .loginForm1 {
        margin-bottom: 20px;
    }

    .inputtext {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        width: 100%;
        padding: 10px;
        background-color: #2B2F33;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #btn:hover {
        background-color: #0056b3;
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #ccc;
    }
}

.create {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;

    #createlogocreatelogo {
        height: 100%;
        width: 100%;

    }



    #signup-form {
        width: 100%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-bottom: 20px;

    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

    }

    button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #2B2F33;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
}

@media screen and (max-width: 768px) {
    /* 화면 크기가 작을 때 LeftBar 숨기기 */
    .leftbar {
        display: none;
    }

    .login-main {
        flex-direction: column;
        align-items: center;
    }
}